[Unit]
Description=SAW Mongoose Login Web Server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=rp3b
Group=rp3b
WorkingDirectory=/opt/saw-web
ExecStart=/opt/saw-web/network_web_login -p 8443 --cert server.crt --key server.key --hsts
Restart=on-failure
RestartSec=2s
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/opt/saw-web

[Install]
WantedBy=multi-user.target
